<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Webserver EJS</title>
</head>
<body>
  <!-- link halaman -->
  <div class="link">
    <a href="/">Home</a>
    |
    <a href="./about">About</a>
    |
    <a href="./contact">Contact</a>
  </div> 
  <h1>Hello World</h1>
  <p>Welcome to my page <%= name %></p>
  <h1> Contact List : </h1>
  <ul>
    <% if (cont.length < 1) { %>
      <p>Contact's List is empty</p>
       <% } else { %>
       <!-- menunampilkan contact list -->
      <% for( let i = 0; i < cont.length; i++ ) { %>
        <li>Name : <%= cont[i].name %></li>
        <li>Email : <%= cont[i].email %></li>
      <% } %>
    <% } %>
  </ul>
</body>
</html>